body{
background:#070707;
color:#eee;
font-family:Orbitron;
margin:0;
}

.topbar{
padding:20px;
border-bottom:1px solid #aa8800;
color:#ffd000;
}

.container{
width:1200px;
margin:auto;
padding:30px;
}

.panel{
border:1px solid #444;
padding:20px;
margin-bottom:40px;
background:#0c0c0c;
}

.panel h2{
color:#ffd000;
font-size:14px;
letter-spacing:2px;
}

.grid3{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:20px;
}

.card{
border:1px solid #333;
padding:16px;
background:#111;
}

.card h3{
color:#ffd000;
font-size:12px;
}

input, textarea{
width:100%;
background:#050505;
border:1px solid #333;
color:white;
padding:5px;
margin-bottom:10px;
}

.trait{
display:flex;
justify-content:space-between;
margin:6px 0;
}

.dots{
display:flex;
gap:4px;
}

.dot{
width:10px;
height:10px;
border:1px solid #ffd000;
cursor:pointer;
}

.dot.active{
background:#ffd000;
}
