body{
background:#050505;
color:#ccc;
font-family:Orbitron;
margin:0;
}

.header{
display:flex;
justify-content:space-between;
padding:20px;
border-bottom:1px solid #333;
}

.title{
color:#f0c400;
font-size:30px;
}

.subtitle{
font-size:12px;
color:#999;
}

.header-info{
font-size:12px;
text-align:right;
}

.online{
color:#00ff9c;
}

.container{
width:1400px;
margin:auto;
padding:20px;
}

h2{
color:#f0c400;
margin-top:40px;
}

.grid3{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:#0b0b0b;
border:1px solid #333;
padding:15px;
}

.card h3{
color:#f0c400;
font-size:14px;
}

input,textarea{

width:100%;
background:#060606;
border:1px solid #222;
color:#ddd;
padding:6px;
margin-bottom:6px;
}

textarea{
min-height:60px;
}

.avatar{

height:160px;
border:1px dashed #444;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:10px;

}

.dots span{

width:12px;
height:12px;
border:1px solid #f0c400;
display:inline-block;
margin-right:4px;

}
